/* personalized color palettes */

body {
    --main: #465781;
    --accent: #de76bb;
    --sub: #7c8fb8;
    --comp: #749aec;
    --text: #f5f5f5;
    --post-it: var(--main);
}

body.grace {
    --main: #FFF2F9;
    --accent: #F33A9A;
    --sub: #C0F6A6;
    --comp: #65EC7D;
    --text: #BD2071;
    --post-it: var(--text);
}

body.maya {
    --main: #EFC0C1;
    --accent: #ADC3CF;
    --sub: #FDF4DD;
    --comp: #F5F5F5;
    --text: #8B1E1A;
    --post-it: var(--text);
}

body.philip {
    --main: #A997DF;
    --accent: #4F517D;
    --sub: #DDC4DD;
    --comp: #DCCFEC;
    --text: #1A3A3A;
    --post-it: var(--text);
}

body.ashley {
    --main: #686868;
    --accent: #de76bb;
    --sub: #70798d;
    --comp: #6f95e9;
    --text: #f5f5f5;
    --post-it: var(--main);
}

body.lyssa {
    --main: #4D7C8A;
    --accent: #1B4079;
    --sub: #7F9C96;
    --comp: #8FAD8A;
    --text: #e7f2c5;
    --post-it: var(--accent);
}

/* coloring */
body {
    background-color: var(--main);
    color: var(--text);
    transition-duration: 1s;
}

#title-page {
    background-color: var(--main);
    color: var(--text);
}

#sidebar {
    background-color: var(--sub);
}

#playlist-wrapper {
    background-color: var(--comp);
}

#playlist-loading {
    background-color: var(--accent);
}

.post-it {
    color: var(--post-it);
}

#sidebar,#playlist-wrapper {
    border: 1.5px solid var(--text);
}
