/* main */
@font-face {
    font-family: "Rochester";
    src: url('../img/Rochester-Regular.ttf') format('truetype');
}

div {
    /* border: 1px solid var(--accent); */
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: "Rochester";
    font-size: 130%;
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 98vh;
    padding: 7px;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.column-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.hidden {
    display: none;
}

/* title page */
#title-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 250px;
}

h1 {
    font-size: 100px;
    color: #fb92df
}

h2 {
color: #f8b8e7
}

h3 {
color: #727c96;
font-size: 30px;
}

h1, h2, h3 {
    margin: 5px;
}

#intro {
    font-family: 'Courier New', Courier, monospace;
}


/* side bar */
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 30%;
    box-sizing: border-box;
    margin: 0;
}

/* logo work */
#title-wrapper {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-right: 9px;
}

#logo {
    height: 100%;
    width: 100%;
    padding-top: 50%;
    padding: 0;
    margin: 0;
}

/* playlist */

#playlist-wrapper {
    position: relative;
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
    padding: 1%;
}

#playlist-wrapper div {
    margin: 0;
}

#playlist-wrapper img {
    width: 100%;
    height: 100%;
}

.disk-stack-wrapper {
    position: relative;
    width: 100%;
    height: 83%;
}

.disk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38%;
    padding: 0px;
    position: absolute;
    left: 0;
    cursor: pointer;
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.grace-disk {
    top: 0;
}

.maya-disk {
    top: 14%;
}

.philip-disk {
    top: 28%;
}

.ashley-disk {
    top: 42%;
}

.lyssa-disk {
    top: 56%;
}

.disk-currently-playing {
    left: 52%;
    top: 38%;
    animation: spin 10s linear infinite;
}

.spotify-embed-wrapper {
    width: 96%;
    height: 15%;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 2%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}

.spotify-embed-wrapper div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#playlist-loading {
    z-index: 50;
}

.current-playlist-text {
    width: 58%;
    height: 10%;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.current-playlist-text p {
    margin: 0;
    text-align: center;
}

/* animations */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* bottom of sidebar */

#bottom-sidebar-wrapper {
    height: 25%;
}

/* corkboard */
#corkboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 70%;
    height: 100%;
    margin-left: 10px;
    box-sizing: border-box;
}

#corkboard {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    background-image: url('../img/corkboard.png');
    background-size: 100% 100%;
    position: relative;   /* so the pieces don't run away */
}

/* shuffle button */
#shuffle-button-wrapper {
    z-index: 250;
    margin-left: 0.5vw;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
}

#shuffle-button-pop-up {
    background-image: url('../img/speech-bubble.png');
    background-size: 100% 100%;
    height: 70px;
    color: black;
    margin-bottom: 20px;
    margin-left: -2px;
}

#shuffle-button {
    border: none;
    border-radius: 6px;
    text-align: center;
    height: 30px;
    width: 150px;
    cursor: pointer;
}

/* post-its */
.post-it {
    z-index: 500;
    font-family: "Delicious Handrawn", cursive;
    font-size: 90%;
    max-width: 330px;
    height: fit-content;
    min-height: 300px;
    padding: 2%;
    background-size: 100% 100%;
    position: absolute;
}

.post-it-loc1 {
    left: 14%;
    top: 14%;
    z-index: 11;
}

.post-it-loc2 {
    left: 22%;
    top: 45%;
    z-index: 12;
}

.post-it-loc3 {
    left: 52%;
    bottom: 35%;
    z-index: 10;
}

.post-it-img1 {
    background-image: url('../img/post-it-1.png');
}

.post-it-img2 {
    background-image: url('../img/post-it-2.png');
}

.post-it-img3 {
    background-image: url('../img/post-it-3.png');
}

#bottom-sidebar-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/* confession link post-it img */
/* make it highlight or something when mouse hovers over it */
.confession {
    height: 22vh;
    cursor: pointer;
}

.confession:hover {
    filter: brightness(110%);
}

/* sticker sheet */
#sticker-sheet {
    position: relative;
    display: flex;
}

.sticker-sheet-img {
    height: 22vh;
}

#sticker-reactions-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
    /* to size the sticker-reactions box */
    padding: 40% 15% 17% 15%;
}

#sticker-reactions {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: rgba(123, 65, 23, 0.5); */
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.sticker {
    width: 40%;
    height: fit-content;
    padding: 0;
    margin: 1%;
    cursor: pointer;
    z-index: 401;
}

.sticker img {
    height: 100%;
    width: 100%;
}
