/* main */
div {
    border: 1px solid red;
    margin: 5px;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 98vh;
    padding: 10px;
    box-sizing: border-box;
}

/* side bar */
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

#sidebar div {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* corkboard */
#corkboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
}

#corkboard {
    width: 100%;
    height: 100%;
}

#shuffle-button {
    align-self: flex-end;
}

#space-guy {
    width: 50%;
    max-width: 400px;
    max-height: 500px;;
}