/* main */
div {
    border: 1px solid var(--accent);
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 98vh;
    padding: 7px;
    box-sizing: border-box;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
}

/* side bar */
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 30%;
    padding: 0.5%;
    box-sizing: border-box;
}

#sidebar div {
    width: 100%;
}

#title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlist-wrapper {
    height: 70%;
}

#playlist-disks {
    width: fit-content;
}

#playlist-wrapper div {
    margin: 0;
}

#bottom-sidebar-wrapper {
    height: 20%;
}

/* corkboard */
#corkboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
}

#corkboard {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../img/corkboard.png');
    background-size: 100% 100%;
    position: relative;   /* so the pieces don't run away */
}

#shuffle-button {
    align-self: flex-end;
}

/* post-its */
.post-it {
    z-index: 500;
    max-width: 330px;
    height: fit-content;
    min-height: 300px;
    background-color: var(--accent);
}

/* others */

#bus-pass {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 100%;
    max-width: 150px;
    max-height: 500px;
}

#participation-ribbon {
    position:absolute;
    top: 10px;
    left: 5px;
    width: 100%;
    max-width: 200px;
    max-height: 800px;
 }

#concert-polaroid {
    position: absolute;
    bottom: 50px;
    left: 150px;
    width: 100%;
    max-width: 150px;
    max-height: 500px;
}

#queer-prom {
    position: absolute;
    top: 50px;
    right: 150px;
    width: 100%;
    max-width: 400px;
    max-height: 650px;
}

#kewpie-moth {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 100%;
    max-width: 150px;
    max-height: 500px;
}

#lacma-ticket {
    position: absolute;
    bottom: 50px;
    right: 75px;
    width: 100%;
    max-width: 400px;
    max-height: 650px;
}